.bg-wheat {
  background-color: #fef6e1;
}

.scale-08 {
  scale: 0.8;
}

.default-button {
  border-radius: 60px;
  background-color: #ec8941;
  height: auto;
  width: auto;
}
.default-button a {
  padding: 14px 16px;
  display: flex;
  font-size: 18px;
  font-size: clamp(18px, 1.7142857143vw, 24px);
  font-weight: 700;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .default-button a {
    padding: 8px 14px;
  }
}
.default-button a:hover {
  color: black;
}
.default-button:hover {
  background-color: #f4f4f4;
}

body {
  background-color: #191919;
  font-size: 22px;
  color: white;
  margin: unset;
  font-family: "TT Norms", sans-serif, Arial;
}
body .section {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  width: auto;
  padding: 98px;
  padding: clamp(16px, 5.1041666667vw, 98px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  transition: all 0.3s ease;
  background: transparent;
  position: fixed;
  width: 100%;
  height: 85px;
}
.header.scrolled {
  background: #fef6e1;
  transition: all 0.3s ease;
}
.header.scrolled img {
  filter: invert(1);
}
.header-logo {
  display: flex;
  width: 200px;
  height: auto;
}
.header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
}
.hero .container {
  padding-top: unset;
  position: relative;
}
.hero-content {
  position: relative;
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero-wrapper {
    height: 60vh;
  }
}
.hero-wrapper-button {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.hero-button {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  font-size: 120px;
  font-size: clamp(40px, 7vw, 120px);
}
.hero-title b {
  font-weight: 700;
}
.hero a {
  font-family: "TT Norms", sans-serif, Arial;
  text-decoration: none;
}
.hero-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .hero-element {
    display: none;
  }
}
.hero-element .element {
  position: absolute;
  pointer-events: none;
}
.hero-element .element-1 {
  width: 76px;
  right: 79px;
  top: 380px;
  rotate: 16deg;
}
.hero-element .element-2 {
  width: 200px;
  top: -100px;
  left: -240px;
}
.hero-element .element-3 {
  width: 200px;
  top: 200px;
  right: -220px;
}
.hero-element .element-4 {
  left: -200px;
  width: 325px;
  top: 300px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.about .container {
  padding-bottom: 400px;
}
@media screen and (max-width: 768px) {
  .about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
}
.about-circle {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #fef6e1;
  border-radius: 50%;
  scale: 1.2;
  position: absolute;
  top: 87%;
}
@media screen and (max-width: 768px) {
  .about-circle {
    height: 20vh;
  }
}
.about-wrapper {
  width: 100%;
  padding: 16px;
}
.about-title h2 {
  font-size: clamp(28px, 4.8571428571vw, 68px);
  width: 60%;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .about-title h2 {
    width: 100%;
  }
}
.about-description {
  font-size: 36px;
  width: 66%;
}
@media screen and (max-width: 768px) {
  .about-description {
    font-size: 20px;
    width: 100%;
  }
}
.about-partner {
  display: flex;
  justify-content: space-between;
  border-top: solid 4px white;
  padding-top: 80px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .about-partner {
    flex-wrap: wrap;
    padding-bottom: 130px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 768px) {
  .about .count {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
}
.about .count-title {
  font-size: 120px;
}
@media screen and (max-width: 768px) {
  .about .count-title {
    font-size: 32px;
  }
  .about .count-title span:last-child {
    font-size: 30px;
  }
}
.about .count-desc {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .about .count-desc {
    font-size: 18px;
  }
}

.service-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.service-header-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-header-image img {
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
  animation: linear reveal both;
  animation-timeline: --revealing-image;
  animation-range: entry 25% cover 50%;
}
@keyframes reveal {
  from {
    width: 60vw;
  }
  to {
    width: 50vw;
  }
}
.service-header-title {
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 120px;
  view-timeline-name: --textup-title;
  view-timeline-axis: block;
  animation: linear textup both;
  animation-timeline: --textup-title;
  animation-range: entry 5% cover 80%;
}
@media screen and (max-width: 768px) {
  .service-header-title {
    font-size: 48px;
    position: static;
  }
}
@keyframes textup {
  from {
    bottom: 0;
  }
  to {
    bottom: 33%;
  }
}
.service-content {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-content-title {
  font-weight: bold;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .service-content-title {
    margin-top: 20px;
    font-size: 20px;
  }
}
.service-content-desc {
  width: 50%;
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .service-content-desc {
    width: 100%;
    margin-top: 32px;
    font-size: 18px;
  }
}
.service-tag {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.service-tag-item {
  background: #37918a;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: clamp(16px, 1.4285714286vw, 20px);
}
.service-button {
  text-align: center;
  width: 100%;
}

.layanan {
  background-color: #37918a;
  overflow: hidden;
  position: relative;
}
.layanan .container {
  padding-top: 400px;
  padding-bottom: 168px;
}
@media screen and (max-width: 768px) {
  .layanan .container {
    padding-top: 170px;
    padding-bottom: 98px;
    align-items: center;
  }
}
.layanan-circle {
  z-index: 1;
  width: 100vw;
  height: 600px;
  background: #fef6e1;
  border-radius: 50%;
  scale: 1.2;
  position: absolute;
  bottom: 80%;
}
@media screen and (max-width: 768px) {
  .layanan-circle {
    height: 20vh;
    bottom: 90%;
  }
}
@media screen and (max-width: 768px) {
  .layanan-wrapper {
    width: 100%;
  }
}
.layanan-service {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: column;
  height: 355px;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .layanan-service {
    gap: 14px;
    justify-content: flex-start;
    height: auto;
  }
}
.layanan-service-item {
  font-size: 67px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .layanan-service-item {
    font-size: 32px;
    gap: 14px;
  }
}
.layanan-service-item span {
  font-weight: bold;
}
.layanan-title {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .layanan-title {
    font-size: 26px;
    margin-bottom: 24px;
  }
}

.instagram {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
}
.instagram-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.instagram-item {
  width: 22vw;
}
@media screen and (max-width: 768px) {
  .instagram-item {
    width: 20vw;
  }
}
.instagram-item:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ec8941;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .instagram-item:first-child {
    gap: 0px;
    font-size: 14px;
    padding: 8px 4px;
  }
}
.instagram-item:first-child img {
  width: 100px;
}
@media screen and (max-width: 768px) {
  .instagram-item:first-child img {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .instagram-item-logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.instagram-item-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.arrow {
  background-color: #37918a;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.arrow-wrapper img {
  width: 120px;
}
@media screen and (max-width: 768px) {
  .arrow-wrapper img {
    width: 60px;
  }
}
.arrow-sale-wrapper {
  display: flex;
  gap: 20px;
  padding-bottom: 98px;
}
.arrow-sale-wrapper-inner {
  animation: scroll 15s linear infinite;
  display: flex;
  width: auto;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-900px);
  }
}
.arrow-sale-item {
  width: 140px;
}
@media screen and (max-width: 768px) {
  .arrow-sale-item {
    width: 70px;
  }
}

.offer {
  background-color: #37918a;
  padding-bottom: 200px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.offer-circle {
  background: #fef6e1;
  width: 110vw;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  bottom: -400px;
}
.offer-wrapper {
  width: 100%;
}
.offer-header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 48px;
  gap: clamp(16px, 3.4285714286vw, 48px);
}
.offer-header-title {
  font-size: 98px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.offer-header-title img {
  width: 220px;
  rotate: 12deg;
}
.offer-header-price {
  font-size: 180px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.offer-tnc {
  font-size: 40px;
  margin-top: 48px;
  margin-bottom: 48px;
}
.offer-timer-hours {
  display: flex;
  justify-content: space-between;
  font-size: 180px;
  align-items: baseline;
}
.offer-timer-hours-wrap {
  display: flex;
  gap: 14px;
  align-items: center;
  flex-direction: column;
}
.offer-timer-hours-wrap-block {
  display: flex;
  gap: 14px;
  gap: clamp(4px, 1vw, 14px);
}
.offer-timer-hours-wrap-block.text {
  font-size: 78px;
}
.offer-timer-item {
  background: #ec8941;
  font-size: 180px;
  font-weight: bold;
  padding: 52px 82px;
}
.offer-cta {
  text-align: center;
  margin-top: 48px;
}
.offer-cta button {
  border: none;
}
.offer-cta button a {
  font-size: 41px;
  padding: 36px;
}
.offer-cta-snk {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.offer-cta-snk-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.offer-cta-snk-wrap {
  width: 50%;
  background: #ec8941;
  display: flex;
  flex-direction: column;
  padding: 28px;
  position: relative;
}
.offer-cta-snk-wrap::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 78%;
  rotate: 45deg;
  background: #37918a;
  top: 0px;
  left: -84px;
}
.offer-cta-snk-wrap::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 98%;
  rotate: 45deg;
  background: #37918a;
  top: 0px;
  right: -80px;
}

.footer {
  background: #fef6e1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 98px;
}
.footer .container {
  padding: unset;
}
.footer-title {
  text-align: center;
  width: 100%;
  font-size: 98px;
  color: black;
  font-weight: bold;
  margin-bottom: 48px;
}
.footer-cta {
  text-align: center;
  width: 100%;
}
.footer-cta button {
  border: none;
}
.footer-cta button a {
  font-size: 28px;
  padding: 22px;
}

@media screen and (max-width: 768px) {
  .hero-button .default-button a {
    font-size: 12px;
  }
  .about-title {
    padding: 0px 16px;
  }
  .about-description {
    padding: 0px 16px;
    font-size: 16px;
  }
  .service-header-title {
    text-align: center;
    font-size: 42px;
  }
  .service-content-title {
    font-size: 15px;
  }
  .service-content-desc {
    font-size: 14px;
  }
  .layanan .container {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .layanan-title {
    font-size: 22px;
  }
  .layanan-services-item {
    font-size: 24px;
  }
  .offer-wrapper {
    width: auto;
  }
}
@media screen and (max-width: 768px) and (min-width: 1024px) {
  .offer-wrapper {
    padding: 0px 16px;
  }
}
@media screen and (max-width: 768px) {
  .offer-header {
    width: auto;
  }
}
@media screen and (max-width: 768px) and (min-width: 1024px) {
  .offer-header {
    padding: 0px 16px;
  }
}
@media screen and (max-width: 768px) {
  .offer-header-title {
    font-size: 30px;
  }
  .offer-header-title img {
    width: 50px;
  }
  .offer-header-price {
    font-size: 65px;
    font-size: clamp(50px, 4.6428571429vw, 65px);
  }
  .offer-tnc {
    font-size: 20px;
    font-size: clamp(16px, 1.4285714286vw, 20px);
    padding: 0px 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .offer-timer-item {
    font-size: 48px;
    font-size: clamp(32px, 3.4285714286vw, 48px);
    padding: 12px 24px;
  }
  .offer-timer-hours {
    font-size: 60px;
  }
  .offer-timer-hours-wrap-block.text {
    font-size: 36px;
    font-size: clamp(24px, 2.5714285714vw, 36px);
  }
  .offer-cta {
    margin-top: 24px;
  }
  .offer-cta button a {
    font-size: 18px;
    padding: 16px;
  }
  .offer-cta-snk-title {
    font-size: 16px;
  }
  .offer-cta-snk-content {
    font-size: 14px;
  }
  .offer-cta-snk-wrap {
    width: auto;
  }
  .offer-circle {
    width: 150vw;
    height: 500px;
  }
  .footer-title {
    font-size: 28px;
  }
}

/*# sourceMappingURL=main.css.map */
